<p>Your Hamburger App </p>

<p>Pick and Choose which hamburger you want to eat from our menu or add your own burger! </p>

<ul>
    <p> Menu </p>
    <p> Order Number - Burger </p>
{{#each burgers}}
<li>
    <p> {{this.id}} - {{this.burger_name}} </p>
</li>
{{/each}}
</ul>

<form action="/index" method="PUT">
	<textarea type="text" name="burger"></textarea>

	<button type="submit">Submit</button>
</form>